*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
//se usa para definir cual es el valor de REM para el archivo por eso no es typography
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
}